In [32]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [33]:
file_path = ''
file_name = 'train.csv'

In [34]:
data = pd.read_csv(file_path + file_name)

In [35]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [36]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [37]:
y = data.SalePrice

In [38]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = data[features]

In [39]:
X.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

In [40]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [41]:
model = DecisionTreeRegressor(random_state=0)
model.fit(X, y)

DecisionTreeRegressor(random_state=0)

In [42]:
predictions = model.predict(X)
predictions

array([208500., 181500., 223500., ..., 266500., 142125., 147500.])

# Model validation

Note: This is a "In-Sample" Score -> use train_test_split

In [43]:
mean_absolute_error(y, predictions)

62.35433789954339

In [44]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)

In [45]:
model = DecisionTreeRegressor(random_state=0)
model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=0)

In [46]:
predictions = model.predict(val_X)

In [47]:
mean_absolute_error(val_y, predictions)

32410.824657534245

# Improvement with max_leaf_nodes

In [48]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    predictions = model.predict(val_X)
    mae = mean_absolute_error(val_y, predictions)
    return mae

In [49]:
mae = {}
for max_leaf_nodes in range(5, 100, 5):
    mae[max_leaf_nodes] = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print(f'Max Leaf Nodes: {max_leaf_nodes} \t \t MAE: {mae[max_leaf_nodes]}')

Max Leaf Nodes: 5 	 	 MAE: 35190.33670788684
Max Leaf Nodes: 10 	 	 MAE: 30616.34246307534
Max Leaf Nodes: 15 	 	 MAE: 29666.693434223555
Max Leaf Nodes: 20 	 	 MAE: 29206.714769038022
Max Leaf Nodes: 25 	 	 MAE: 28501.887126575195
Max Leaf Nodes: 30 	 	 MAE: 28302.01671291155
Max Leaf Nodes: 35 	 	 MAE: 27556.9435800501
Max Leaf Nodes: 40 	 	 MAE: 27570.287821320566
Max Leaf Nodes: 45 	 	 MAE: 27531.646484135945
Max Leaf Nodes: 50 	 	 MAE: 27825.888386265695
Max Leaf Nodes: 55 	 	 MAE: 27881.12256760947
Max Leaf Nodes: 60 	 	 MAE: 28072.610258049415
Max Leaf Nodes: 65 	 	 MAE: 27976.76593264674
Max Leaf Nodes: 70 	 	 MAE: 27657.220980730024
Max Leaf Nodes: 75 	 	 MAE: 27455.53740524919
Max Leaf Nodes: 80 	 	 MAE: 27280.23209035945
Max Leaf Nodes: 85 	 	 MAE: 27648.29847667257
Max Leaf Nodes: 90 	 	 MAE: 28284.726891271668
Max Leaf Nodes: 95 	 	 MAE: 28503.81217468655

# Improvment with RandomForest

In [50]:
model = RandomForestRegressor(random_state=1)
model.fit(train_X, train_y)

RandomForestRegressor(random_state=1)

In [51]:
predictions = model.predict(val_X)

In [52]:
mean_absolute_error(val_y, predictions)

23009.206570906717